html,
body {
  margin: 0;
  color: whitesmoke;
  background: rgb(35, 74, 148);
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.schedule {
  height: 600px;
  width: 300px;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}

.schedule::-webkit-scrollbar {
  display: none;
}

select {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.settings {
  padding: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 16px;
}

button[type="submit"] {
  display: block;
  margin: auto;
  margin-top: 6px;
  width: fit-content;
}

.view-timetables-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.settings-icon {
  cursor: pointer;
  z-index: 9000;
  top: 16px;
  right: 66px;
  position: absolute;
  width: 20px;
  height: 20px;
}
