html,
body {
  margin: 0;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.schedule {
  height: 600px;
  width: 300px;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}

.schedule::-webkit-scrollbar {
  display: none;
}

select {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}
